@model IEnumerable<Crud.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>CLIENTES</h1>

<p>
    <a asp-action="Create">Ingresar un nuevo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Codigo }, new { onclick = "return confirm('¿Esta seguro de editar?');" }) |

                    @Html.ActionLink("Detalles", "Details", new { id = item.Codigo }, new { onclick = "return confirm('¿Desea ver los detalles?');" }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Codigo }, new { onclick = "return confirm('¿Esta seguro de borrar?');" }) |
                    @if (item.Estado == 1)
                    {
                        @Html.ActionLink("Desactivar", "Desactivar", new { id = item.Codigo }, new { onclick = "return confirm('¿Desea desactivar?');" })
                    }
                    else
                    {
                        @Html.ActionLink("Activar", "Activar", new { id = item.Codigo }, new { onclick = "return confirm('¿Desea activar?');" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

